#about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;

    padding: 0;

    background-color: rgb(255, 174, 145);

    p{
        color: black;
    }

    h2 {
        color: black;
        text-align: center;
    }

    h3 {
        color: black;
        text-decoration: underline;
        text-underline-position: under;
        font-size: 1.4rem;

        margin: 30px 0 15px 0;
    }

    @include underline(black);
}

.about-img {
    min-width: 650px;
    img {
        width: 100%;
        display: block;
    }
}

.about-text {
    margin: auto;

    padding-right: 10%;
    padding-left: 5%;

}

@media(max-width: 1300px) {
    #about {
        flex-direction: column;
        padding: 75px 0;

        h2 {
            text-align: center;
        }
    }

    .about-text {
        padding: 0 10%;
    }

    .about-img {
        flex: 1;
        order: 3;
        min-width: 0px;
        max-width: 750px;
        margin: 0;
    }
}