#about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;

    padding: 0 10%;

    background-color: rgb(255, 174, 145);

    p{
        color: black;
    }

    h2 {
        color: black;
    }
}

.about-img {
    min-width: 560px;
    img {
        width: 100%;
        display: block;
    }
}

.about-text {
    margin: auto;
}

@media(max-width: 1300px) {
    #about {
        flex-direction: column;
        padding: 75px 0;

        h2 {
            text-align: center;
        }
    }

    .about-text {
        padding: 0 10%;
    }

    .about-img {
        flex: 1;
        order: 3;
        min-width: 0px;
        max-width: 750px;
        margin: 0;
    }
}