#contact {
    display: flex;
    align-items: start;
    gap: 30px;

    background-color: rgb(168, 0, 0);

    padding: 75px 10%;

    form {
        flex: 1;

        display: flex;
        flex-direction: column;

        input {
            margin-bottom: 10px;
            padding: 8px 10px;
            @include text-main(1rem);
        }

        textarea {
            padding: 8px 10px;
            @include text-main(1rem);
            margin-bottom: 10px;
        }
    }

    .form-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
}

.contact-info {
    flex: 1;

    ul {
        line-height: 2;
    }

    li {
        @include text-main(1rem);
    }

    h3 {
        @include text-main(1.4rem);
        text-decoration: underline;
        text-underline-position: under;
    }

    p {
        display: inline;
    }
}

.contact-hours {
    margin-top: 20px;

    ul {
        margin-top: 5px;
        margin-left: 40px ;
    }
}



@media(max-width: 768px) {
    #contact {
        display: block;

        h2 {
            text-align: center;
        }

        p {
            text-align: center;
        }

        form {
            max-width: 580px;

            margin: auto;
            margin-top: 32px;
        }
    }

    .contact-info {
        display: flex;
        flex-direction: column;
        align-items: center;

        ul {
            padding: 0;
            margin-left: 0;
        }

        h3 {
            text-align: center;
        }
    }

    .contact-hours {
        li {
            text-align: center;
        }
    }
}