*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    background-color: $body-bg-color;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

h2 {
    @include text-main(2rem)
}

p {
    @include text-main(1rem)
}