* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth
}

body {
    height: 100%;
    background-color: $body-bg-color;
    overflow-x: hidden;
}

.section-padding {
    padding: 75px 10%;
}

li {
    list-style: none;
    color: $font-color-main;
}

a {
    text-decoration: none;
    color: $font-color-main;
}

h2 {
    @include text-main(2.8rem);
}

h3 {
    @include text-main(1.2rem)
}

.section-title {
    margin-bottom: 45px;
}

@include underline($font-color-main);

p {
    @include text-main(1rem);
    line-height: 1.5;
}

button {
    @include text-main(1rem);
    padding: 8px;
    color: black;
}