header {
    background-color: $navbar-bg-color;

    a {
        color: $navbar-link-color;
        @include text-main(1rem)
    }

    position: sticky;
    top: 0;
    z-index: 9;

    transition: all 0.4s;
}

.navbar {
    margin: 0 auto;

    min-height: $navbar-height;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 10%;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    z-index: 9;
}

.nav-branding {
    @include text-alt(2rem, bold)
}

.nav-link {
    padding: 15px 10px;
    transition: color 0.3s ease, border-bottom 0s;

    &:hover {
        color: $navbar-link-hover-color;
        border-bottom: 2px solid $navbar-link-hover-color;
    }
}

.nav-link-active {
    color: $navbar-link-color;
    border-bottom: 2px solid $navbar-link-color;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;

    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: $hamburger-bar-color;
}

@media(max-width: 991px) {
    .hamburger {
        display: block;
    }

    .hamburger.active {
        .bar:nth-child(2) {
            opacity: 0;
        }

        .bar:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
        }

        .bar:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
        }
    }

    .nav-menu {
        position: fixed;
        left: 0;
        top: $navbar-height;

        max-height: 0;
        overflow: hidden;       
        
        gap: 0;
        flex-direction: column;
        background-color: $navbar-bg-color;
        width: 100%;
        text-align: center;
        transition: 0.4s ease;

        &.active {
            max-height: 100vh; 
            padding: 15px 0;
        }
    }

    .nav-item {
        margin: 16px 0;
    }
}