.hero-image {
    height: calc(100vh - $navbar-height);
    // position: relative;

    background-image: url("../img/hero-image.jpg");
    background-size: cover;
    background-position: 20% 50%;

    .hero-image-text {
        height: calc(100vh - $navbar-height);
        max-width: $site-max-width;
        margin: auto;

        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;

        padding: 0 5%;

        h2 {
            @include text-alt(4rem, 500, italic);
            color: $hero-image-text-color;
            text-shadow: 0 0 5px black;

            text-align: right;
        }

        // position: absolute;
        // top: 25%;
        // right: 20%;
    }
}

@media(max-width: 992px) {
    .hero-image {
        .hero-image-text {
            h2 {
                font-size: 3rem;
            }
        }
    }
}

@media(max-width: 576px) {
    .hero-image {
        .hero-image-text {
            h2 {
                font-size: 2.7rem;
            }
        }
    }
}