@mixin text-main($size, $weigth: normal, $style: normal) {
    font-family: $font-family-main;
    font-size: $size;
    font-weight: $weigth;
    font-style: $style;
    color: $font-color-main;
}

@mixin text-alt($size, $weigth: normal, $style: normal) {
    font-family: $font-family-alt;
    font-size: $size;
    font-weight: $weigth;
    font-style: $style;
    color: $font-color-main;
}

@mixin text-color($color) {
    p {
        color: $color;
    };

    h2 {
        color: $color;
    }

    h3 {
        color: $color;
    }
}

@mixin underline($color) {
    .underline {
        padding: 0 15px 10px 15px;
        border-bottom: 4px solid $color;
    }
}