#team {
    .section-title {
        margin: auto;
        margin-bottom: 45px;
        text-align: center;
    }

    background-color: rgb(97, 96, 96);
}

.team-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.team-card {
    border: 1px gainsboro solid;
    border-radius: 8px;
    background-color: aliceblue;

    display: flex;
    flex-direction: column;

    img {
        border-radius: 8px 8px 0 0;
        max-height: 520px;
        object-fit: cover;
    }

}

.team-card-info {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;

    padding: 20px;

    h3 {
        @include text-main(1.2rem);
        text-align: center;
        color: black
    }

    p {
        @include text-main(0.9rem);
        text-align: center;
        color: rgb(189, 99, 99);
    }
}

@media(max-width: 480px) {
    .team-card {
        img {
            max-height: none;
            max-width: calc(100vw - 10%);
        }
    }
}