// FONTS
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;1,500&display=swap');

// CORE

$font-family-main: Helvetica;
$font-family-alt: 'EB Garamond', serif;


// HEADER

$navbar-height: 70px;
$navbar-max-width: 1000px;

$navbar-bg-color: black;

$navbar-link-color: white;
$navbar-link-hover-color: dodgerblue;

$hamburger-bar-color: white;


// LANDING

$hero-image-text-color: rgba(255, 255, 255, 0.95);

// BODY

$body-bg-color: black;
$font-color-main: white;

// SECTIONS


// FOOTER
$footer-icons-color: white;