@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;1,500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  background-color: black;
  overflow-x: hidden;
  font-family: Helvetica;
}

.section-padding {
  padding: 135px 10%;
}

li {
  list-style: none;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

h2 {
  font-family: Helvetica;
  font-size: 2.8rem;
  font-weight: normal;
  font-style: normal;
  color: white;
}

h3 {
  font-family: Helvetica;
  font-size: 1.2rem;
  font-weight: normal;
  font-style: normal;
  color: white;
}

.section-title {
  margin-bottom: 60px;
}

.underline {
  padding: 0 15px 10px 15px;
  border-bottom: 4px solid white;
}

p {
  font-family: Helvetica;
  font-size: 1rem;
  font-weight: normal;
  font-style: normal;
  color: white;
  line-height: 1.5;
}

button {
  font-family: Helvetica;
  font-size: 1rem;
  font-weight: normal;
  font-style: normal;
  color: white;
  padding: 8px;
  color: black;
}

header {
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 9;
  transition: all 0.4s;
}
header a {
  color: white;
  font-family: Helvetica;
  font-size: 1rem;
  font-weight: normal;
  font-style: normal;
  color: white;
}

.navbar {
  margin: 0 auto;
  min-height: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  z-index: 9;
}

.nav-branding {
  font-family: "EB Garamond", serif;
  font-size: 2rem;
  font-weight: bold;
  font-style: normal;
  color: white;
}

.nav-link {
  padding: 15px 10px;
  transition: color 0.3s ease, border-bottom 0s;
}
.nav-link:hover {
  color: dodgerblue;
  border-bottom: 2px solid dodgerblue;
}

.nav-link-active {
  color: white;
  border-bottom: 2px solid white;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

@media (max-width: 991px) {
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    left: 0;
    top: 85px;
    max-height: 0;
    overflow: hidden;
    gap: 0;
    flex-direction: column;
    background-color: black;
    width: 100%;
    text-align: center;
    transition: 0.4s ease;
  }
  .nav-menu.active {
    max-height: 100vh;
    padding: 15px 0;
  }
  .nav-item {
    margin: 16px 0;
  }
}
.hero-image {
  height: calc(100vh - 85px);
  background-image: url("../img/hero-image.jpg");
  background-size: cover;
  background-position: 20% 50%;
}
.hero-image .hero-image-text {
  height: calc(100vh - 85px);
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 0 5%;
}
.hero-image .hero-image-text h2 {
  font-family: "EB Garamond", serif;
  font-size: 4rem;
  font-weight: 500;
  font-style: italic;
  color: white;
  color: rgba(255, 255, 255, 0.95);
  text-shadow: 0 0 5px black;
  text-align: right;
}

@media (max-width: 992px) {
  .hero-image .hero-image-text h2 {
    font-size: 3rem;
  }
}
@media (max-width: 576px) {
  .hero-image .hero-image-text h2 {
    font-size: 2.7rem;
  }
}
#services {
  background-color: white;
}
#services h3 {
  font-family: Helvetica;
  font-size: 1.1rem;
  font-weight: normal;
  font-style: normal;
  color: white;
}
#services p {
  color: black;
}
#services h2 {
  color: black;
}
#services h3 {
  color: black;
}
#services .underline {
  padding: 0 15px 10px 15px;
  border-bottom: 4px solid black;
}
#services h2 {
  text-align: center;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  gap: 35px;
}

.services-item {
  min-width: 300px;
  max-width: 400px;
  border-bottom: 1px solid gainsboro;
}

.service-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.service-title i {
  background-color: black;
  padding: 6px;
}
.service-title i:hover {
  background-color: rgb(201, 200, 200);
  color: black;
}

.service-description {
  max-height: 0;
  padding-right: 40px;
  padding-top: 15px;
  overflow: hidden;
  transition: 0.5s;
}

.service-description.active {
  padding: 15px 40px 10px 0;
  max-height: 200px;
}

#about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  padding: 0;
  background-color: rgb(255, 174, 145);
}
#about p {
  color: black;
}
#about h2 {
  color: black;
  text-align: center;
}
#about h3 {
  color: black;
  text-decoration: underline;
  text-underline-position: under;
  font-size: 1.4rem;
  margin: 30px 0 15px 0;
}
#about .underline {
  padding: 0 15px 10px 15px;
  border-bottom: 4px solid black;
}

.about-img {
  min-width: 650px;
}
.about-img img {
  width: 100%;
  display: block;
}

.about-text {
  margin: auto;
  padding-right: 10%;
  padding-left: 5%;
}

@media (max-width: 1300px) {
  #about {
    flex-direction: column;
    padding: 75px 0;
  }
  #about h2 {
    text-align: center;
  }
  .about-text {
    padding: 0 10%;
  }
  .about-img {
    flex: 1;
    order: 3;
    min-width: 0px;
    max-width: 750px;
    margin: 0;
  }
}
@media (max-width: 479px) {
  #about h3 {
    text-align: center;
  }
}
#team {
  background-color: rgb(97, 96, 96);
}
#team .section-title {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.team-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.team-card {
  border: 1px gainsboro solid;
  border-radius: 8px;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
}
.team-card img {
  border-radius: 8px 8px 0 0;
  max-height: 520px;
  object-fit: cover;
}

.team-card-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  padding: 20px;
}
.team-card-info h3 {
  font-family: Helvetica;
  font-size: 1.2rem;
  font-weight: normal;
  font-style: normal;
  color: white;
  text-align: center;
  color: black;
}
.team-card-info p {
  font-family: Helvetica;
  font-size: 0.9rem;
  font-weight: normal;
  font-style: normal;
  color: white;
  text-align: center;
  color: rgb(189, 99, 99);
}

@media (max-width: 480px) {
  .team-card img {
    max-height: none;
    max-width: calc(100vw - 10%);
  }
}
#contact {
  display: flex;
  align-items: start;
  gap: 30px;
  background-color: rgb(168, 0, 0);
}
#contact form {
  flex: 1;
  display: flex;
  flex-direction: column;
}
#contact form input {
  margin-bottom: 10px;
  padding: 8px 10px;
  font-family: Helvetica;
  font-size: 1rem;
  font-weight: normal;
  font-style: normal;
  color: white;
  color: black;
}
#contact form textarea {
  padding: 8px 10px;
  font-family: Helvetica;
  font-size: 1rem;
  font-weight: normal;
  font-style: normal;
  color: white;
  margin-bottom: 10px;
  color: black;
  line-height: 1.5;
}
#contact .form-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
#contact .form-input.empty {
  border: 2px solid red;
  background-color: rgb(253, 224, 224);
}
#contact .form-error {
  display: none;
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.05rem;
  font-style: italic;
}

.contact-info {
  flex: 1;
}
.contact-info ul {
  line-height: 2;
}
.contact-info li {
  font-family: Helvetica;
  font-size: 1rem;
  font-weight: normal;
  font-style: normal;
  color: white;
}
.contact-info h3 {
  font-family: Helvetica;
  font-size: 1.4rem;
  font-weight: normal;
  font-style: normal;
  color: white;
  text-decoration: underline;
  text-underline-position: under;
}
.contact-info p {
  display: inline;
}

.contact-hours {
  margin-top: 20px;
}
.contact-hours ul {
  margin-top: 5px;
  margin-left: 40px;
}

@media (max-width: 768px) {
  #contact {
    display: block;
  }
  #contact h2 {
    text-align: center;
  }
  #contact p {
    text-align: center;
  }
  #contact form {
    max-width: 580px;
    margin: auto;
    margin-top: 32px;
  }
  .contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact-info ul {
    padding: 0;
    margin-left: 0;
  }
  .contact-info h3 {
    text-align: center;
  }
  .contact-hours li {
    text-align: center;
  }
}
footer {
  padding: 50px;
  border-top: 1px solid white;
}
footer a:hover {
  color: rgb(187, 208, 255);
}

.footer-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 250px;
  margin: auto;
}
.footer-icons i {
  color: white;
  font-size: 40px;
}
.footer-icons a:hover i {
  color: dodgerblue;
}

.copyright {
  margin: auto;
  text-align: center;
  padding-top: 25px;
}

/*# sourceMappingURL=style.css.map */
